.DS_Store
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/copying_headers/test-license.log
/copying_headers/test-license.trs
/coverage/
/coverage.info
/depcomp
/dox/html/
/dox/latex/
.deps/
.dirstamp
/examples/geopm_print_error
/examples/threaded_step
/examples/geopmhash
/examples/geopm_ctl_single
/examples/print_affinity
/examples/simple_prof_c
/examples/simple_prof_f
/examples/synthetic_benchmark
/examples/timed_region
/examples/*.o
/examples/fft/nas_ft
/examples/fft/*.o
/examples/geopm_platform_supported
*.gcda
*.gcno
/geopmctl
/geopmpolicy
/geopm.o
/geopm.mod
/geopm*.spec
/geopm*.tar.gz
/gh-pages/
/gmock-1.7.0/
/gmock-1.7.0.zip
/gmock-all.o
/gtest-1.7.0/
/gtest-1.7.0.zip
/gtest-all.o
/install-sh
/keyvals.mod
/*.la
/libgmock.a
/libgtest.a
.libs/
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/MANIFEST
/missing
/plugin/*.lo
/plugin/*.o
/ronn/*.1
/ronn/*.3
/ronn/*.7
/ronn/*.html
/ruby/
/man/*
/scripts/data
/scripts/geopm/version.py
/scripts/COPYING
/scripts/README
/scripts/figures
/scripts/AUTHORS
/scripts/build/*
/scripts/dist/*
/scripts/geopmpy.egg-info/*
/scripts/geopmpy/version.py
/src/*.lo
/src/*.o
/stamp-h1
/test-driver
/test_plugin_app
/test/geopm_mpi_test
/test/geopm_mpi_test_api
/test/geopm_print_error
/test/geopm_static_modes_test
/test/geopm_test
/test/gtest_links/*
/test/*.log
/test/*.o
/test-suite.log
/test/*.trs
/test/plugin/*.lo
/test/plugin/*.o
/test/fortran/*f90
!/test/fortran/*.f90
/test/fortran/get_elem_d
/test/fortran/get_elem_u
/test/fortran/indtype
/test/fortran/kinds
/test/fortran/sizeof
/test/fortran/sizeof2
/test/fortran/spawnargvf03
/test/fortran/spawnmultf03
/test/fortran/structf
/test/fortran/*.lo
/test/fortran/*.o
/test/fortran/fortran_links/*
/test_integration/geopm_test_integration
/test_integration/geopm_test_integration.pyc
/VERSION
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.log
/doc/geopm-plugin-guide.pdf
*.swp
*.pyc
/tutorial/tutorial_[0-9]
/tutorial/*.o
/tutorial/tutorial_[0-9]*_report-*
/tutorial/tutorial_[0-9]*_trace-*
/tutorial/tutorial_4_imbalance.conf
/openmp-4.0.0.src.tar.xz
/openmp-4.0.0.src/*
/openmp/*
/scripts/test/pytest_links/*
