*~
/aclocal.m4
/ar-lib
/autom4te.cache/
/BLURB
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/contrib/json11/*.lo
/contrib/json11/*.o
/copying_headers/MANIFEST.BSD3-intel
/copying_headers/test-license.log
/copying_headers/test-license.trs
/coverage/
/coverage.info
/depcomp
.deps/
.dirstamp
/dox/html/
/dox/latex/
/dox-public/Doxyfile
/dox-public/html/
/dox-public/latex/
.DS_Store
/examples/geopm_ctl_single
/examples/geopmhash
/examples/geopm_platform_supported
/examples/geopm_print_error
/examples/*.o
/examples/print_affinity
/examples/simple_prof_c
/examples/simple_prof_f
/examples/synthetic_benchmark
/examples/threaded_step
/examples/timed_region
*.gcda
*.gcno
.gdb_history
/geopmadmin
/geopmagent
/geopmbench
/geopmctl
/geopm.mod
/geopm.o
/geopmpolicy
/geopmread
/specs/geopm*.spec
/geopm*.tar.gz
/geopmwrite
/gh-pages/
/gmock-all.o
/googletest-release-*/
/googletest-release-*.tar.gz
/gtest-all.o
/install-sh
/integration/apps/hpcg/hpcg/
/integration/apps/hpl_netlib/hpl-2.3/
/integration/apps/nasft/nasft/nas_ft
/integration/apps/nasft/nasft/*.o
/integration/apps/nekbone/nekbone/
/integration/apps/pennant/PENNANT/
/integration/apps/pennant/pennant_1_0_1.tgz
/integration/test/*.config
/integration/test/geopm_test_integration
/integration/test/geopm_test_integration.pyc
/integration/test/*.h5
/integration/test/*.log
/integration/test/*.report
/integration/test/test_ee_short_region_slop
/integration/test/test_ee_timed_scaling_mix
/integration/test/test_enforce_policy
/integration/test/test_epoch_inference
/integration/test/test_frequency_hint_usage
/integration/test/test_hint_time
/integration/test/test_omp_outer_loop
/integration/test/test_power_balancer
/integration/test/test_profile_overflow
/integration/test/test_profile_policy
/integration/test/test_progress
/integration/test/test_scaling_region
/integration/test/test_timed_scaling_region
/integration/test/test_tutorial_base
/integration/test/*.trace*
/keyvals.mod
/*.la
/libgmock.a
/libgtest.a
.libs/
/libtool
*.lo
/ltmain.sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/MANIFEST
/missing
*.o
/openmp/*
/openmp-*.src/*
/openmp-*.src.tar.xz
*.pkl
/plugin/*.lo
/plugin/*.o
*.pyc
/ronn/*.1
/ronn/*.3
/ronn/*.7
/ronn/*.html
/ruby/
*.sbatch
/scripts/AUTHORS
/scripts/build/*
/scripts/COPYING
/scripts/data
/scripts/dist/*
/scripts/figures
/scripts/geopmpy.egg-info/*
/scripts/geopmpy/version.py
/scripts/geopm/version.py
/scripts/README
/scripts/test/pytest_links/*
/src/*.lo
/src/*.o
/stamp-h1
*.swp
/tags
/test-driver
!/test/fortran/*.f90
/test/fortran/*f90
/test/fortran/fortran_links/*
/test/fortran/get_elem_d
/test/fortran/get_elem_u
/test/fortran/indtype
/test/fortran/kinds
/test/fortran/*.lo
/test/fortran/*.o
/test/fortran/sizeof
/test/fortran/sizeof2
/test/fortran/spawnargvf03
/test/fortran/spawnmultf03
/test/fortran/structf
/test/geopm_mpi_test
/test/geopm_mpi_test_api
/test/geopm_print_error
/test/geopm_test
/test/gtest_links
/test/gtest_links/*
/test/*.log
/test/*.o
/test-suite.log
/test/*.trs
/tutorial/agent/*.so.*
/tutorial/contrib
/tutorial/Exception.hpp
/tutorial/geopm_time.h
/tutorial/iogroup/*.so.*
/tutorial/*.o
/tutorial/plugin_load/*/*.so.*
/tutorial/tutorial_[0-9]
/tutorial/tutorial_[0-9]*_report-*
/tutorial/tutorial_[0-9]*_trace-*
/tutorial/tutorial_4_imbalance.conf
/VERSION
compile_commands.json
