[project]
	description = Global Energy Optimization Power Management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group geopm-maintainer
	owner = group user/Christopher Cantalupo (cmcantalupo)
[access "refs/for/refs/*"]
	read = group user/Christopher Cantalupo (cmcantalupo)
	push = group geopm-maintainer
	push = group user/Christopher Cantalupo (cmcantalupo)
	label-Code-Review = -2..+2 group geopm-maintainer
	label-Code-Review = -2..+2 group user/Christopher Cantalupo (cmcantalupo)
	label-Verified = -1..+1 group geopm-maintainer
	label-Verified = -1..+1 group user/Christopher Cantalupo (cmcantalupo)
	rebase = group geopm-maintainer
	rebase = group user/Christopher Cantalupo (cmcantalupo)
	removeReviewer = group geopm-maintainer
	removeReviewer = group user/Christopher Cantalupo (cmcantalupo)
	submit = group geopm-maintainer
	submit = group user/Christopher Cantalupo (cmcantalupo)
[access "refs/heads/*"]
	read = group geopm-maintainer
	read = group user/Christopher Cantalupo (cmcantalupo)
	create = group geopm-maintainer
	create = group user/Christopher Cantalupo (cmcantalupo)
	push = group geopm-maintainer
	push = +force group user/Christopher Cantalupo (cmcantalupo)
	pushMerge = deny group geopm-maintainer
	pushMerge = deny group user/Christopher Cantalupo (cmcantalupo)
[access "refs/tags/*"]
	push = group geopm-maintainer
	push = +force group user/Christopher Cantalupo (cmcantalupo)
	pushTag = group geopm-maintainer
	pushTag = group user/Christopher Cantalupo (cmcantalupo)
	pushSignedTag = group geopm-maintainer
	pushSignedTag = group user/Christopher Cantalupo (cmcantalupo)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[submit]
	action = fast forward only
	mergeContent = false
[label "Code-Review"]
    function = MaxWithBlock
    copyMinScore = true
    value = -2 Do not submit
    value = -1 I would prefer that you didn't submit this
    value =  0 No score
    value = +1 Looks good to me, but someone else must approve
    value = +2 Looks good to me, approved
    copyAllScoresOnTrivialRebase = true
    copyAllScoresIfNoCodeChange = true
[label "Verified"]
    function = MaxWithBlock
    copyMinScore = true
    value = -1 Fails
    value =  0 No score
    value = +1 Verified
    copyAllScoresOnTrivialRebase = true
    copyAllScoresIfNoCodeChange = true
