[project]
	description = Global Energy Optimization Power Management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christopher Cantalupo (cmcantalupo)
[access "refs/for/refs/*"]
	read = group user/Christopher Cantalupo (cmcantalupo)
	push = group user/Christopher Cantalupo (cmcantalupo)
	label-Code-Review = -2..+2 group user/Christopher Cantalupo (cmcantalupo)
	label-Verified = -1..+1 group user/Christopher Cantalupo (cmcantalupo)
	rebase = group user/Christopher Cantalupo (cmcantalupo)
	removeReviewer = group user/Christopher Cantalupo (cmcantalupo)
	submit = group user/Christopher Cantalupo (cmcantalupo)
[access "refs/heads/*"]
	read = group user/Christopher Cantalupo (cmcantalupo)
	create = group user/Christopher Cantalupo (cmcantalupo)
	push = +force group user/Christopher Cantalupo (cmcantalupo)
	pushMerge = group user/Christopher Cantalupo (cmcantalupo)
[access "refs/tags/*"]
	push = +force group user/Christopher Cantalupo (cmcantalupo)
	pushTag = group user/Christopher Cantalupo (cmcantalupo)
	pushSignedTag = group user/Christopher Cantalupo (cmcantalupo)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[submit]
	action = fast forward only
	mergeContent = false
