/build/
/dist/
/geopmdpy.egg-info/
/geopmd.spec
/make_sdist.log
/geopmdpy-*/
/debian/changelog
/libgeopmd-deps-tmp-*
geopmdpy/_libgeopmd.*
__pycache__
/geopmdpy/geopm_service_pb2.py
/geopmdpy/geopm_service_pb2_grpc.py
