#  Copyright (c) 2015 - 2025 Intel Corporation
#  SPDX-License-Identifier: BSD-3-Clause
#

[Unit]
Description=Global Extensible Open Power Manager Service
StartLimitIntervalSec=0
StartLimitBurst=3
Wants=msr-safe.service
After=msr-safe.service

[Service]
Environment=PYTHONUNBUFFERED=true
Environment=ZE_FLAT_DEVICE_HIERARCHY=COMPOSITE
Environment=ZES_ENABLE_SYSMAN=1
Environment=GEOPM_VERBOSITY=0
LimitNOFILE=16384
RestartKillSignal=SIGINT

Type=dbus
BusName=io.github.geopm
ExecStart=/usr/bin/geopmd
Restart=always
TimeoutSec=5

[Install]
WantedBy=multi-user.target
