/aclocal.m4
/autom4te.cache
/autoscan.log
/build
/build-aux
compile_commands.json
/config.h
/config.h.in
/config.log
/config.status
/configure
const_config_test.json
/debian/changelog
/dist
/dox/Doxyfile
/dox/html
/dox/latex
/docs/build
/fuzz_test/geopmhash_corpus.tar.gz
/fuzz_test/geopmhash_corpus
/fuzz_test/geopmhash_corpus/.dir
/*geopm*.ddeb
/*geopm*.deb
/geopm-service*.dsc
/geopm-service*.tar.gz
/geopm-service*.buildinfo
/geopm-service*.changes
/geopm_service.egg-info
/geopm-service.spec
/geopm-service-*.tar.gz
/geopm-service-*/
/geopmread
/geopmwrite
/googletest-release-*/
/googletest-release-*.tar.gz
/integration/test/test_batch_interface
/integration/test/test_batch_perf
/integration/test/test_batch_server
/integration/test/test_invalid_values
/libgmock.a
/libgtest.a
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/Makefile
/Makefile.in
src/msr_data_*.cpp
src/sysfs_attributes_*.cpp
/stamp-h1
/test/geopm_test
/test/isadmin
/test/*.log
/test/*.trs
/test-suite.log
