#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with autoreconf 

override_dh_missing:
	dh_missing --list-missing -X.la

override_dh_auto_configure:
	if [ "$(DEB_BUILD_ARCH)" != "amd64" ]; then \
	    CONFIG_OPTION="--disable-cpuid "; \
	fi; \
	if [ "$(DEB_BUILD_ARCH)" = "amd64" ] || [ "$(DEB_BUILD_ARCH)" = "arm64" ]; then \
	    CONFIG_OPTION="$$CONFIG_OPTION --enable-nvml"; \
	fi; \
	if [ -n "$(ENABLE_LEVELZERO)" ]; then \
	    CONFIG_OPTION="$$CONFIG_OPTION --enable-levelzero"; \
	fi; \
	dh_auto_configure -- --with-bash-completion-dir=/etc/bash_completion.d --enable-grpc $$CONFIG_OPTION
