Source: geopm-runtime
Section: utils
Priority: optional
Maintainer: Christopher M. Cantalupo <christopher.m.cantalupo@intel.com>
Build-Depends: debhelper-compat (=13),
               build-essential,
               debhelper (>= 11~),
               elfutils,
               libgeopmd-dev,
               libelf-dev,
               openssh-client,
               unzip
Standards-Version: 4.1.4
Homepage: https://geopm.github.io
Vcs-Git: https://github.com/geopm/geopm.git
Vcs-Browser: https://github.com/geopm/geopm.git

Package: geopm-runtime
Section: utils
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libgeopm2 (= ${binary:Version}),
         libgeopmd2 (= ${binary:Version})
Description: The GEOPM Service provides a foundation for manipulating
 hardware settings to optimize an objective defined by an unprivileged
 user.  The GEOPM Runtime is a software platform built on top of the
 GEOPM Service that enables users to select a runtime algorithm and
 policy to meet energy efficiency or performance objectives.  More
 documentation on the GEOPM Runtime is posted with our web
 documentation.

Package: libgeopm-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libgeopm2 (= ${binary:Version})
Description: Development package for the GEOPM Runtime.  This provides
 the programming interface to libgeopm.so.  The package includes the C
 and C++ header files, maunuals for these interfaces and the
 unversioned libgeopm.so shared object symbolic link and the static
 library.

Package: libgeopm2
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library supporting the GEOPM Runtime.  This provides the
 libgeopm library which provides C and C++ interfaces.
 .
 This package contains the shared library.
