/aclocal.m4
/ar-lib
/AUTHORS
/autom4te.cache
/autoscan.log
/build
/CODE_OF_CONDUCT.md
/cargo-home
/compile
compile_commands.json
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/CONTRIBUTING.rst
/COPYING
/COPYING-TPP
/debian/changelog
/debian/tmp
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/autoreconf.*
/debian/python3-geopmdpy*
/debian/geopm-service/
/debian/libgeopmd-dev/
/debian/libgeopmd2/
/depcomp
/dist
/docs/build
/fuzz_test/geopmhash_corpus.tar.gz
/fuzz_test/geopmhash_corpus
/fuzz_test/geopmhash_corpus/.dir
/geopmdpy.egg-info
/geopmdpy/geopm_service_pb2.py
/geopmdpy/geopm_service_pb2_grpc.py
/geopmdpy/schemas.py
/geopmdpy/version.py
/geopmdpy_test/pytest_links/
/geopmdrs/Cargo.lock
/geopmdrs/Cargo.toml
/geopmdrs/target/
/geopmdrs/vendor/
/geopmread
/geopm_service.egg-info
/geopm-service.spec
/geopm-service-*.tar.gz
/geopmwrite
/googletest-release-*/
/googletest-release-*.tar.gz
/install-sh
/integration/test/test_batch_interface
/integration/test/test_batch_server
/integration/test/test_invalid_values
/libgeopmd.la
/libgmock.a
/libgtest.a
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/README
/src/msr_data_*.cpp
/src/geopm_service.pb.cc
/src/geopm_service.pb.h
/src/geopm_service.grpc.pb.cc
/src/geopm_service.grpc.pb.h
/stamp-h1
/test/geopm_test
/test/gtest_links/
/VERSION
/*geopm*.ddeb
/*geopm*.deb
/geopm-service-*
/geopm-service_*
/geopm-service*.tar.gz
/geopm-service*.buildinfo
/geopm-service*.changes
