#  Copyright (c) 2015 - 2022, Intel Corporation
#  SPDX-License-Identifier: BSD-3-Clause
#

[Unit]
Description=Global Extensible Open Power Manager Service
StartLimitIntervalSec=0
StartLimitBurst=3

[Service]
Environment=PYTHONUNBUFFERED=true
Type=dbus
BusName=io.github.geopm
ExecStart=/usr/bin/geopmd
Restart=always

[Install]
WantedBy=default.target
