[Unit]
Description=Global Extensible Open Power Manager Service

[Service]
Environment=PYTHONUNBUFFERED=true
Type=dbus
BusName=io.github.geopm
ExecStart=/usr/bin/geopmd
Restart=on-failure
PIDFile=/run/geopm/geopm.pid

[Install]
WantedBy=default.target