/aclocal.m4
/autom4te.cache/
/build-aux
compile_commands.json
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/contrib/json11/*.lo
/contrib/json11/*.o
/coverage/
/coverage.info
.deps/
.dirstamp
/debian/changelog
/geopmadmin
/geopmagent
/geopmbench
/geopmctl
/geopm.mod
/geopm.o
/geopmpolicy
/gmock-all.o
/googletest-release-*/
/googletest-release-*.tar.gz
/gtest-all.o
/keyvals.mod
/libgmock.a
/libgtest.a
/libtool
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/openmp/*
/openmp-*.src/*
/openmp-*.src.tar.xz
/plugin/*.lo
/plugin/*.o
/geopm-runtime.spec
/stamp-h1
/test-driver
!/test/fortran/*.f90
/test/fortran/*f90
/test/fortran/fortran_links/*
/test/fortran/get_elem_d
/test/fortran/get_elem_u
/test/fortran/indtype
/test/fortran/kinds
/test/fortran/*.lo
/test/fortran/*.o
/test/fortran/sizeof
/test/fortran/sizeof2
/test/fortran/spawnargvf03
/test/fortran/spawnmultf03
/test/fortran/structf
/test/geopm_mpi_test
/test/geopm_mpi_test_api
/test/geopm_print_error
/test/geopm_test
/test/geopm_test.sh
/test/*.log
/test/*.o
/test-suite.log
/test/*.trs
/*geopm*.ddeb
/*geopm*.deb
/geopm-runtime*.dsc
/geopm-runtime*.tar.gz
/geopm-runtime*.buildinfo
/geopm-runtime*.changes
/geopm-runtime*/
