Source: geopm-doc
Section: utils
Priority: optional
Maintainer: Christopher M. Cantalupo <christopher.m.cantalupo@intel.com>
Build-Depends: debhelper-compat (= 12),
               bash-completion
Standards-Version: 4.4.1
Vcs-Git: https://github.com/geopm/geopm.git
Homepage: https://geopm.github.io

Package: python3-geopmdpy-doc
Architecture: all
Depends:
Description: GEOPM - Global Extensible Open Power Manager Documentation (geopmdpy)

Package: python3-geopmpy-doc
Architecture: all
Depends: bash-completion
Description: GEOPM - Global Extensible Open Power Manager Documentation (geopmpy)

Package: geopm-service-doc
Architecture: all
Depends: bash-completion
Description: GEOPM - Global Extensible Open Power Manager Documentation (geopm-service)

Package: geopm-runtime-doc
Architecture: all
Depends:
Description: GEOPM - Global Extensible Open Power Manager Documentation (geopm-runtime)

Package: libgeopmd-doc
Architecture: all
Depends:
Description: GEOPM - Global Extensible Open Power Manager Documentation (libgeopmd)

Package: libgeopm-doc
Architecture: all
Depends:
Description: GEOPM - Global Extensible Open Power Manager Documentation (libgeopm)
