/apps/hpcg/hpcg/
/apps/hpl_netlib/hpl-2.3/
/apps/nasft/nasft/nas_ft
/apps/nasft/nasft/*.o
/apps/nekbone/nekbone/
/apps/pennant/PENNANT/
/apps/pennant/pennant_1_0_1.tgz
/test/*.config
/test/geopm_test_integration
/test/geopm_test_integration.pyc
/test/*.h5
/test/*.log
/test/*.report
/test/test_ee_short_region_slop
/test/test_ee_timed_scaling_mix
/test/test_enforce_policy
# some tests may be in test/ or in test_skipped/
/test*/test_epoch_inference
/test*/test_fmap_short_region_slop
/test/test_frequency_hint_usage
/test/test_hint_time
/test/test_omp_outer_loop
/test/test_power_balancer
/test/test_profile_overflow
/test/test_profile_policy
/test/test_progress
/test/test_scaling_region
/test/test_timed_scaling_region
/test/test_tutorial_base
/test/*.trace*
