#
#  Copyright (c) 2015 - 2022, Intel Corporation
#  SPDX-License-Identifier: BSD-3-Clause
#

name: C/C++ CI

on:
  push:
    branches:
      - dev
      - release-v2.0-candidate
  pull_request:
    branches:
      - dev
      - release-v2.0-candidate

concurrency:
  group: ci-${{ github.ref }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: "build_and_test: ${{ matrix.config.name }} ${{ matrix.debug-flag }}"
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        config:
        - {
          name: clang-12,
          cc: "clang-12", cxx: "clang++-12"
        }
        - {
          name: gcc-9,
          cc: "gcc-9", cxx: "g++-9"
        }
        debug-flag: ["enable-debug", "disable-debug"]
    env:
      CC: ${{ matrix.config.cc }}
      CXX: ${{ matrix.config.cxx }}
      FC: gfortran-9
      F77: gfortran-9

    steps:
    - uses: actions/checkout@v2
    - name: install system dependencies
      run: sudo apt-get update && sudo apt-get install libelf-dev mpich libmpich-dev libomp-11-dev libsystemd-dev python3-gi
    - name: install base and service dir python dependencies
      run: |
           python3 -m pip install --upgrade pip setuptools wheel pep517
           python3 -m pip install -r service/requirements.txt
           python3 -m pip install -r scripts/requirements.txt
    - name: check include guards
      shell: bash
      run: .github/include_guards.sh
    - name: configure service dir
      working-directory: service
      run: ./autogen.sh && ./configure --${{ matrix.debug-flag }}
    - name: make service dir
      working-directory: service
      run: make -j2
    - name: configure base dir
      run: ./autogen.sh && ./configure --enable-beta --disable-openmp --with-geopmd-lib=./service/.libs --with-geopmd-include=./service/src --${{ matrix.debug-flag }}
    - name: make base dir
      run: make -j2
    - name: make checkprogs service
      working-directory: service
      run: make checkprogs -j2
    - name: make checkprogs base dir
      run: make checkprogs -j2
    - name: make check service
      working-directory: service
      env:
        LD_LIBRARY_PATH: .libs:${LD_LIBRARY_PATH}
      run: make check
    - name: make check basedir
      run: make check
      env:
        LD_LIBRARY_PATH: .libs:./service/.libs:${LD_LIBRARY_PATH}
        PYTHONPATH: scripts:${PYTHONPATH}
    - name: test-dist
      run: ./copying_headers/test-dist
    - name: show failure logs
      if: ${{ failure() }}
      run: |
           cat scripts/py3k_lint.log || true
           cat scripts/test/pytest_links/*.log || true
           cat service/geopmdpy_test/pytest_links/*.log || true
           cat test/gtest_links/*.log || true
           cat service/test/gtest_links/*.log || true

  publish_obs:
    if: github.event_name == 'push'
    needs: build_and_test
    name: "publish_obs"
    runs-on: ubuntu-20.04
    env:
      CC: "gcc-9"
      CXX: "g++-9"
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: install system dependencies
      run: sudo apt-get update && sudo apt-get install libsystemd-dev libgirepository1.0-dev osc python3-m2crypto
    - name: install base and service dir python dependencies
      run: |
           python3 -m pip install --upgrade pip setuptools wheel pep517
           python3 -m pip install -r service/requirements.txt
    - name: configure service dir
      working-directory: service
      run: ./autogen.sh && ./configure
    - name: make service dist
      working-directory: service
      run: make -j2 dist
    - name: set OSC credentials
      run: |
           echo -e "[general]\n\n[https://api.opensuse.org]\ncredentials_mgr_class=osc.credentials.ObfuscatedConfigFileCredentialsManager" > ~/.oscrc
           echo "user = ${{ github.repository_owner }}" >> ~/.oscrc
           echo "pass = ${{ secrets.OSC_CREDENTIALS }}" >> ~/.oscrc
           if [[ "${{ github.ref_name }}" == "release-v2.0-candidate" ]]; then
               echo "OSC_PACKAGE=home:${{ github.repository_owner }}:${{ github.ref_name }}/geopm-service" >> ${GITHUB_ENV}
           else
               echo "OSC_PACKAGE=home:${{ github.repository_owner }}/geopm-service" >> ${GITHUB_ENV}
           fi
    - name: publish
      working-directory: service
      run: |
           osc co ${OSC_PACKAGE}
           cp geopm-service.spec ${OSC_PACKAGE}
           cp geopm-service*.tar.gz ${OSC_PACKAGE}/geopm-service.tar.gz
           osc add ${OSC_PACKAGE}/geopm-service.spec ${OSC_PACKAGE}/geopm-service.tar.gz
           osc ci -m ${{ github.sha }} ${OSC_PACKAGE}
