#
#  Copyright (c) 2015 - 2024, Intel Corporation
#  SPDX-License-Identifier: BSD-3-Clause
#

name: Coverity Scan

on:
  schedule:
    - cron: '0 6 * * *'

  workflow_dispatch:

permissions: read-all

jobs:
  coverity:
    runs-on: ubuntu-latest
    env:
      CC: clang
      CXX: clang++
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: install system dependencies
      run: sudo apt-get update && sudo apt-get install libelf-dev mpich libmpich-dev libomp-15-dev libsystemd-dev liburing-dev python3-gi python3-yaml libcap-dev zlib1g-dev
    - name: configure libgeopmd dir
      working-directory: libgeopmd
      run: ./autogen.sh && ./configure || (cat config.log && false)
    - name: build libgeopmd dir
      working-directory: libgeopmd
      run: make -j$(getconf _NPROCESSORS_CONF)
    - name: install libgeopmd and clean dir
      working-directory: libgeopmd
      run: sudo make install && make clean
    - name: configure libgeopm dir
      working-directory: libgeopm
      run: ./autogen.sh && ./configure --enable-beta --disable-geopmd-local || (cat config.log && false)
    - uses: vapier/coverity-scan-action@2068473c7bdf8c2fb984a6a40ae76ee7facd7a85 # v1.8.0
      with:
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        email: ${{ secrets.COVERITY_SCAN_EMAIL }}
        command: bash -c "make -C libgeopmd -O -j$(getconf _NPROCESSORS_CONF) && make -C libgeopm -O -j$(getconf _NPROCESSORS_CONF)"
